﻿/*  Reset default styles
-------------------------------------------------------*/

/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

body {
	margin: 0 auto;
	font: 15px/22px Helvetica, Arial, sans-serif;
    background-color: #e2e2e2;
}

a {
    color: #1170a9;
    text-decoration: none;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
}

#page {
    padding: 20px 15px; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.6em;
    font-weight: bold;
}

header h1 {
    padding-top: 18px;
    padding-left: 10px;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

p {
	padding-bottom: 22px;
}

dl {
    margin: 0;
}  
  
    dt {
        font-weight: bold;
    }

    dt:after {
        content: ":";
    }

    dd {
        margin-left: 5px;
        font-size: .85em;
        margin-bottom: 5px;
    }


/*  Shared Layout
-------------------------------------------------------*/
aside {
    float: left;
    width: 30%;
    margin-right: 30px;
    height: 100%;
    
    /*CSS3 properties*/
    word-wrap: break-word; 
}

article {
    float: left;
    width:65%;
}

/*  Thumbnail Layout
-------------------------------------------------------*/
ul.thumbnails {
    margin:0;
    padding:0;
}
ul.thumbnails li {
    position: relative;
    list-style: none;
    float: left;
    margin: 8px;
    padding: 5px;
    font-size: small;
    text-align: center;
    border: 1px solid transparent;
    width: 202px;
    height: 202px;
    line-height: 200px;
    display: block;
}

ul.gallery li {
    height: 220px;
}

    ul.thumbnails li span {
        display: block;
    }
    
        ul.thumbnails li span.image-overlay {
            display: none;
            width: 200px;
            padding: 5px;
            background-color: #fff;
            color: #343434;
    
            /*CSS3 properties*/
            border-radius: 7px 7px 0 0;
            -moz-border-radius: 7px 7px 0 0;
            -webkit-border-radius: 7px 7px 0 0;
            background-color: rgba(255, 255, 255, 0.75);
            word-wrap: break-word; 
        }
    
        ul.thumbnails li span.below-image {
            line-height: normal;
        }

    ul.thumbnails li img {
        margin: auto;
        display: inline;
        vertical-align: middle;
    }

ul.thumbnails li:hover {
    background: #f3f6f7;
    border-color: #dbe2e5;
    
    /*CSS3 properties*/
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0px 0px 10px #d0d0d0;
    -moz-box-shadow: 0px 0px 10px #d0d0d0;
    -webkit-box-shadow: 0px 0px 10px #d0d0d0;
}

    ul.thumbnails li:hover span.image-overlay {
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       line-height: normal;
    }

/*  Single Photo Layout
--------------------------------------------------*/
/*  Sidebar
-------------*/
dd.tags {
    margin: 5px;
}

    ul.tags {
        list-style: none;
        display: inline;
        padding: 0;
        margin: 0;
    }

        ul.tags li {
            display:inline;
            padding: 1px 5px;
            color: #fff;
            background-color: #757575;
                    
            /*CSS3 properties*/
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }
            
            ul.tags li a {
                color: #fff;
            }
        
        ul.tags li:hover {
            background-color: #444;
        }
        
.download {
    font-size: 1.1em;
    padding-left: 20px;
    background: url("../Images/download.png") no-repeat left;
}


/*  Main
----------*/
ol.comments {
    font-size: .85em;
    padding: 0;
    list-style: none;
}
    
    ol.comments h3 {
        margin-top: 5px;
        font-weight: bold;
        border-bottom: 1px solid #dbe2e5;
    }
    
    ol.comments p {
        padding: 0 0 0 5px;
    }
        
#addComment textarea {
    width: 100%;
}

figcaption
{
    text-align: center;
    font-style: italic;
}

figure img
{
    position: relative;
    width: 100%;
}

/* Forms   
----------------------------------------------------------*/
fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
}

    fieldset legend {
        font-size: 1.1em;
        font-weight: bold;
        padding: 2px 4px 8px 4px;
    }
    
    fieldset ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
        fieldset ol li {
            padding-bottom: 5px;
        }
    
    fieldset label {
        display: block;
    }
    
    fieldset label.checkbox {
        display: inline;
    }
    
    fieldset input[type="text"], input[type="password"], input[type="email"] {
        border: 1px solid #ccc;
        padding: 2px;
        font-size: 1.1em;
        color: #444;
        width: 280px;
    }

    fieldset input[type="submit"] {
        padding: 5px;
    }
    
    fieldset textarea {
        color: #444;
        width: 280px;
    }
    
    .no-legend {
        border: none;
        padding: 0;
    }

        .no-legend legend {
            display: none;
        }
    
fieldset input[type="text"].input-validation-error, 
input[type="password"].input-validation-error, 
.input-validation-error {
    border: 1px solid #be3e16; 
    background-color: #ffe4e4;
}
        
.field-validation-error {
    display: block;
    color: #be3e16;
    font-weight: bold;
}

.validation-summary-errors {
    color: #be3e16;
    font-weight: bold;
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.validation-summary-valid {
    display: none;
}

.field-validation-valid {
    display: none;
}
 
/* Misc  
----------------------------------------------------------*/
.similar-tags {
    clear: both;
    font-weight: bold;
    margin: 5px;
}

.user-photos {
    padding: 0;
    margin: 0;
} 
  
.confirm-removal {
    color: #d63301;
}  
  
 .large-photo {
    margin: 0;
    margin-bottom: 5px;
 } 

.thumbnail-border, .large-photo {
    border: 1px solid #dbe2e5;
    display: block;
}

.thumbnail-no-border {
    border: none;
    display: block;
}

#file-upload-buttons input[type=submit] {
    display: block;
    font-size: 1.2em;
    padding: 5px;
}

.actions {
    clear: both;
}

.message {
    clear: both;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 15px;
    
    /*CSS3 properties*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
}

.info {
    background: #bde5f8;
    color: #00529b;
}

.error {
    background: #ffe4e4;
    color: #be3e16;
}

/* HTML 5 */

header {
    background: url("/Images/bg-header.jpg") no-repeat scroll right top #E4E4E4;
    height: 25px;
    }

nav {
    background: orange;    
    position: relative;
    float: left;
	width: 100%;
    height: 50px;
    margin: 0 auto;
    
    /*CSS3 properties*/
    opacity: 0.7;
}

nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav ul li {
	float: left;
}

	nav ul li a {
    color: white;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
	}

		nav ul li.subscribe a {
			margin-left: 22px;
			padding-left: 33px;
			text-align: left;
			background: url("rss.png") left center no-repeat;
		}

        nav ul li a:hover {            
            background: black;
            
            /*CSS3 properties*/
            opacity: 0.5;
        }

        nav ul li.current a {
            background: none repeat scroll 0 0 transparent !important;
            border-bottom: 3px solid black;
            color: black;
            cursor: default;
            line-height: 44px;
            margin: 0 10px;
            padding: 3px 0 0;
        }

#main {
    float: left;
    display: table;
}

footer {
    clear: both;
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #E3E3E3;
    border-radius: 3px 3px 3px 3px;
    font-size: 0.75em;
    padding: 5px;
}

.views {
    font-size: 1.1em;
}

.views a {
    padding-right: 20px;
}


/* HTML5 & CSS3 Detection page */

.group {
    margin: 20px;
    padding: 10px;
    float:left;
    background: none repeat scroll 0 0 rgb(220, 220, 220);
    border: 1px solid #E3E3E3;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
}

.group h2 {
    text-align: center;
}

.group ul {
    margin: 0px;
    padding: 0px;
}

.group li {
    margin-left: 0px;
    list-style: none;
    width: 300px;
    padding: 0.5em;
}

.feature, .subfeature {   
    float: right; 
    display: block;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    color: rgba(255,255,255,0.8);    
}

.support-yes {
    background-color: rgba(120, 184, 20, 0.9);
    padding: 2px 4px;
}

.support-no {
    background-color: rgba(184, 51, 20, 0.9);
    padding: 2px 6px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}


#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        background: url("../images/accent.png") no-repeat;
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../images/heroaccent.png") no-repeat;
    }

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 20px 0;
}

.site-title a, .site-title a:hover, .site-title a:active  {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login  
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin-top: 20px;
    text-align: right;
}

    #login a {
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }
    
    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login li {
        display: inline;
        list-style: none;
    }



/* page elements  
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7AC0DA 0%, #A4D4E6 100%);
        background-image: -o-linear-gradient(left, #7AC0DA 0%, #A4D4E6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7AC0DA), color-stop(1, #A4D4E6));
        background-image: -webkit-linear-gradient(left, #7AC0DA 0%, #A4D4E6 100%);
        background-image: linear-gradient(left, #7AC0DA 0%, #A4D4E6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */ 
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
display: inline;
}

hgroup.title h2 {
    font-weight: normal;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }
    
        ol.round li.one {
            background: url("../images/orderedlistOne.png") no-repeat;        
        }
    
        ol.round li.two {
            background: url("../images/orderedlistTwo.png") no-repeat;        
        }
    
        ol.round li.three {
            background: url("../images/orderedlistThree.png") no-repeat;        
        }
    
/* content */  
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }
    
     aside ul li {
        background: url("../images/bullet.png") no-repeat 0 50%;
        padding: 2px 0 2px 20px;
     }
     
.label {
    font-weight: 700;
}

/* login page */ 
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 45%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 50%;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: solid 1px #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }
    
        fieldset ol li {
            padding-bottom: 5px;
        }
    
    fieldset label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }
    
    fieldset label.checkbox {
        display: inline;
    }
    
    fieldset input[type="text"], 
    fieldset input[type="password"] {
        border: 1px solid #e2e2e2;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }
    
        fieldset input[type="text"]:focus, 
        fieldset input[type="password"]:focus {
            border: 1px solid #7ac0da;
        }
    
    fieldset input[type="submit"] {
        background-color: #d3dce0;
        border: solid 1px #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
    }

/* ajax login/registration dialog */
.modal-popup {
    font-size: 0.7em;
}

    .modal-popup input[type="text"], 
    .modal-popup input[type="password"] {
        width: 90%;
    }

/* info and errors */  
.message-info {
    border: solid 1px;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.success {
    color: #7ac0da;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: solid 1px #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}



ul#social li {
    display: inline;
    list-style: none;
}

    ul#social li a {
        color: #999;
        text-decoration: none;
    }
        
    a.facebook, a.twitter {
        display: block;
        float: left;
        height: 24px;
        padding-left: 17px;
        text-indent: -9999px;
        width: 16px;
    }
        
    a.facebook {
        background: url("../images/facebook.png") no-repeat;
    }
        
    a.twitter {
        background: url("../images/twitter.png") no-repeat;
    }
        
        
        
/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
    
    /* header  
    ----------------------------------------------------------*/
    header .float-left, 
    header .float-right {
        float: none;
    }
    
    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin-top: 0;
        text-align: center;
    }
    
        #login ul {
            margin: 5px 0;
            padding: 0;
        }
        
        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding:0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }
        
        #login a:hover {
            color: #333;
        }

        
    /* main layout  
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }
    
    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }
    
    /* page content */  
    article, aside {
        float: none;
        width: 100%;
    }
    
    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }
    
            ol.round li.one,
            ol.round li.two,
            ol.round li.three {
                background: none;        
            }
     
     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }
     
        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }
        
    /* forms */    
    fieldset input[type="text"], 
    fieldset input[type="password"] {
        width: 90%;
    }
    
    /* login page */ 
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer  
    ----------------------------------------------------------*/    
    footer .float-left,
    footer .float-right {
        float: none;
    }
    
    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }
    
        footer p {
            margin: 0;
        }
    
        ul#social {
            padding:0;
            margin: 0;
        }
    
         a.facebook, a.twitter {
            background: none;
            display: inline;
            float: none;
            height: auto;
            padding-left: 0;
            text-indent: 0;
            width: auto;
        }    
}
